/* Text */
BODY {	background-image : url( "file:///C:/Users/Dick/Documents/NetObjects Fusion 2015/User Sites/festivalPOV/Styles/Sunny Day - Paradise/Images/background.png" );
	background-repeat : repeat-x;
	font-family : Open Sans ;
	font-size : 14px;
	color : rgb(51,51,51);
	background-color : rgb(250,250,250)}

.nof_SunnyDayParadiseBanners1-Default{
font-family:PT Sans ; font-size:24pt; color:rgb(0,106,193) 
}

.nof_SunnyDayParadiseNavbar4-Regular{
font-family:Open Sans ; font-size:14px; color:rgb(250,250,250) 
}

.nof_SunnyDayParadiseNavbar5-Rollover{
font-family:Open Sans ; font-size:14px; color:rgb(226,226,226) 
}

.nof_SunnyDayParadiseNavbar6-Highlighted{
font-family:Open Sans ; font-size:14px; color:rgb(250,250,250) 
}

.nof_SunnyDayParadiseNavbar7-HighlightedRollover{
font-family:Open Sans ; font-size:14px; color:rgb(250,250,250) 
}

.nof_SunnyDayParadiseNavbar9-Regular{
font-family:Open Sans ; font-size:13px; color:rgb(250,250,250) 
}

.nof_SunnyDayParadiseNavbar10-Rollover{
font-family:Open Sans ; font-size:13px; color:rgb(250,250,250) 
}

.nof_SunnyDayParadiseNavbar11-Highlighted{
font-family:Open Sans ; font-size:13px; color:rgb(250,250,250) 
}

.nof_SunnyDayParadiseNavbar12-HighlightedRollover{
font-family:Open Sans ; font-size:13px; color:rgb(250,250,250) 
}


P {
	font-family: Open Sans ;
	font-size : 14px;
	color : rgb(51,51,51);
	line-height : 1.5em}

.TextObject{
	font-family: Open Sans ;
	font-size : 14px;
	color : rgb(51,51,51)
}

.TextNavBar{
	font-family: Open Sans ;
	font-size : 14px;
	color : rgb(0,106,193)
}

A:visited {
	font-family: Open Sans ;
	color : rgb(0,121,219);
	font-size : 14px}

A:active {
	font-family: Open Sans ;
	color : rgb(0,79,143);
	font-size : 14px}

H1 {
	font-family: PT Sans ;
	color : rgb(0,106,193);
	font-weight : 100}

H2 {
	font-family: PT Sans ;
	font-weight : 100;
	color : rgb(0,106,193)}

H3 {
	font-family: PT Sans ;
	font-weight : 100;
	color : rgb(0,106,193)}



UL {
	font-family: Open Sans ;
	font-size : 14px;
	color : rgb(51,51,51)
}

OL {
	font-family: Open Sans ;
	font-size : 14px;
	color : rgb(51,51,51)
}

/* Accordiion */
.ui-accordion{
	border: 1px solid #0086f4 !important;
	border-top: none !important;
	background-color: transparent !important
}
 .ui-accordion a {
	border: none !important
}
div.ui-accordion.selected a.head.selected  {
	background-image: url( "file:///C:/Users/Dick/Documents/NetObjects Fusion 2015/User Sites/festivalPOV/Styles/Sunny Day - Paradise/Images/AccordionTabOpen.png" ) !important;
	color: #fafafa !important
}
.ui-accordion a.head {
	background-image: url( "file:///C:/Users/Dick/Documents/NetObjects Fusion 2015/User Sites/festivalPOV/Styles/Sunny Day - Paradise/Images/AccordionTabClosed.png" ) !important;
	background-color: transparent !important;
	border: none !important;
	font-size: 11px !important;
	color: #fafafa !important;
	font-weight: normal !important;
	text-indent: 25px !important;
	height: 30px !important;
	line-height: 30px !important
}
.ui-accordion .ui-accordion-panel a {
	display: inline !important
}

/* Tabs */
.ui-tabs-panel{
	border: 1px solid #0086f4 !important;
	padding: 0px !important;
	background-color: transparent !important
}
.ui-tabs-nav a {
	background-image: url( "file:///C:/Users/Dick/Documents/NetObjects Fusion 2015/User Sites/festivalPOV/Styles/Sunny Day - Paradise/Images/tab_top.png" ) !important;
	font-weight: normal !important;
	color: #fafafa !important;
	font-size: 11px !important;
	line-height: 22px !important
}
.ui-tabs-nav .ui-tabs-selected a {
	color: #fafafa !important
}
.ui-tabs-nav a span  {
	background-image: url( "file:///C:/Users/Dick/Documents/NetObjects Fusion 2015/User Sites/festivalPOV/Styles/Sunny Day - Paradise/Images/tab_top.png" ) !important;
	max-height: 50px;
	height: 22px !important
}
.ui-tabs-nav a:hover span{
	background-position: 0 -50px !important
}
.ui-tabs-nav a:hover{
	background-position: 100% -150px !important;
	color: #fafafa !important
}

/* Toggle Pane */
div.TogglePaneFancyHeader {
	font-family: inherit !important;
	font-size: 11px !important;
	font-weight: normal !important;
	line-height: 30px;
	height: 30px !important;
	padding: 0px !important;
	text-indent: 25px;
	cursor: pointer;
	border: 1px solid #0086f4 !important;
	border-width: 0px 1px !important;
	background-color: transparent !important;
	background-image: url( "file:///C:/Users/Dick/Documents/NetObjects Fusion 2015/User Sites/festivalPOV/Styles/Sunny Day - Paradise/Images/TogglePaneOpen.png" ) !important;
	background-position: 0% 0% !important;
	color: #f2f2f2 !important
}
div.TogglePaneFancyHeaderClosed {
	background-color: transparent !important;
	background-image: url( "file:///C:/Users/Dick/Documents/NetObjects Fusion 2015/User Sites/festivalPOV/Styles/Sunny Day - Paradise/Images/TogglePaneClosed.png" ) !important;
	background-position: 0% 0% !important;
	color: #fafafa !important
}
div.TogglePanePlainContent {
	border: 1px solid #0086f4 !important;
	border-top: none !important;
	background-color: transparent !important
}

A:hover {
	font-family: Open Sans ;
	color : rgb(0,135,245);
	font-size : 14px}

.jcarousel-skin-nof .jcarousel-next-horizontal{
    background: transparent url( "Images\\next-horizontal.png" ) no-repeat 0 0}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-next-horizontal{
    background-image: url( "Images\\prev-horizontal.png" )
}

.jcarousel-skin-nof .jcarousel-prev-horizontal{
    background: transparent url( "Images\\prev-horizontal.png" ) no-repeat 0 0}

.jcarousel-skin-nof .jcarousel-direction-rtl .jcarousel-prev-horizontal{
    background-image: url( "Images\\next-horizontal.png" )
}

.jcarousel-skin-nof .jcarousel-next-vertical{
    background: transparent url( "Images\\next-vertical.png" ) no-repeat 0 0}

.jcarousel-skin-nof .jcarousel-prev-vertical{
    background: transparent url( "Images\\prev-vertical.png" ) no-repeat 0 0}


A {
	font-family: Open Sans ;
	color : rgb(0,106,193);
	font-size : 14px
}


H4 {
	font-family: PT Sans ;
	font-weight : 100;
	color : rgb(0,106,193)}

H5 {
	font-family: PT Sans ;
	font-weight : 100;
	color : rgb(0,106,193)}

H6 {
	font-family: PT Sans ;
	font-weight : 100;
	color : rgb(0,106,193)}